/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


html, body {
  height:100%;
}


html {
    color: #333;
    font-size: 1em;
    font-family:'Merriweather', sans-serif;
    line-height:1.6;
}

::-moz-selection {
    background: #F5AB2E;
    color:#fff;
    text-shadow: none;
}

::selection {
    background: #F5AB2E;
    color:#fff;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}


/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

*/
 /*
h1 {
    font-family: 'Merriweather', serif;
    font-weight: 300;
}

*/
body {
  margin:0;
  background:white;
  font-size:1.3em;
  color:#444;
  font-family:'Merriweather', sans-serif;
  line-height:1.6;
}


a {
    color:#259EF5;
    text-decoration:none;
    -webkit-transition:all .2s ease-out;
    -moz-transition:all .2s ease-out;
    -o-transition:all .2s ease-out;
    transition:all .2s ease-out;
    position:relative;
}

nav a::before, nav a::after {
    display:none;
}

a::before, a::after {
    content: "";
    position: absolute;
    background:#259EF5;
    bottom:-2px;
    width:0;
    height:2px;
    -webkit-transition:all .2s ease-out;
    -moz-transition:all .2s ease-out;
    -o-transition:all .2s ease-out;
    transition:all .2s ease-out;
}

    a::before {
        left:0;
    }
    a::after {
        right:0;
    }

a:hover {
    color:#222;
}

    a:hover::before, a:hover::after {
        width:50%;
    }

a .outgoing {
    font-size:0.6em;
    padding-left:0.5em;
}


/* NAV styles*/

.home nav {
    opacity:0;
    background:#E3E3E3;
}

nav {
    position:fixed;
    width: 100%;
    text-align: left;
    z-index:1000;
    background:#fff;
    top: 0;
    -webkit-transition:all .12s ease-out;
    -moz-transition:all .12s ease-out;
    -o-transition:all .12s ease-out;
    transition:all .12s ease-out;
}



nav.scroll_down {
    top: -5em;
}


.home_link {
    float:left;
    padding:0.24em 1.2em;
    color:#888;
}

.home_link h1 {
    margin:0;
    font-size:1.2em;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}


.home_link span {
    color:#BFBFBF;
}


.blog_link {
    float:left;
    font-size:1.2em;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    padding:0.2em 1.2em;
    margin:0;
    color:#888;
}

.achievement_counter {
    float:right;
    font-size:1.2em;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    padding:0.36em 1.2em;
    margin:0;
    color:#888;
    position:relative;
    perspective: 300px;
}

.achievement_counter .icon {
  float:left;
  font-size:22px;
  width:37px;
  padding:0.1em 0 0;
  text-align:center;
  background: #259EF5;
  border-radius: 50%;
  color:#fff;
  -webkit-transition:all .2s ease-out;
  -moz-transition:all .2s ease-out;
  -o-transition:all .2s ease-out;
  transition:all .2s ease-out;
}

.achievement_counter .text_wrap {
  float:left;
  padding:0 0.5em;
  width:100px;
}

.achievement_counter:hover {
    background:#259EF5;
    color:#fff;
}

.achievement_counter:hover .icon {
    background:#ededed;
    color:#259EF5;
}


  @keyframes count_update {
    0% { transform:scale(2) translateX(20px) translateY(-5px) rotateZ(15deg) rotateX(-30deg) rotateY(60deg); opacity:1; }
    25% {  transform:scale(1) translateX(0) translateY(0) rotateZ(0deg) rotateX(0deg) rotateY(0deg); }
    85% {  opacity:1;}
    100% { opacity:0; }
  }

.count_update {
    background:#259EF5;
    font-size:1em;
    width:160px;
    height:1.5em;
    padding:0 0.2em;
    position:absolute;
    top:0.35em;
    left:3em;
    color:#fff;
    opacity:0;
	transform-style: preserve-3d;
}

.count_update.updating {
    -webkit-animation: count_update 1s;
}

@keyframes count_update2 {
  0% { transform:scale(1); }
  25% {  transform:scale(1); opacity:0; }
  29% {  transform:scale(1); opacity:1; }
  70% { transform:scale(2); opacity:0; }
}

.count_update2 {
    border:solid 2px rgba(0,0,0,0.5);
    width:3em;
    height:1.5em;
    position:absolute;
    top:0.35em;
    left:3em;
    opacity:0;
}

.count_update2.updating {
    -webkit-animation: count_update2 1s;
}

@keyframes count_update3 {
  0% { transform:scale(1); }
  20% {  transform:scale(1); opacity:0; }
  24% {  transform:scale(1); opacity:1; }
  60% { transform:scale(3); opacity:0; }
}

.count_update3 {
    border:solid 1px  rgba(0,0,0,0.5);
    width:3em;
    height:1.5em;
    position:absolute;
    top:0.35em;
    left:3em;
    opacity:0;
}

.count_update3.updating {
    -webkit-animation: count_update3 1s;
}


nav em {
    font-style: normal;
    font-size:1.2em;
    margin-left:0.1em;
}


nav .home_link:hover {
    background:#259EF5;
    color:#fff;
}

nav .home_link:hover span {
    color:#fff;
    -webkit-transition:all .12s ease-out;
    -moz-transition:all .12s ease-out;
    -o-transition:all .12s ease-out;
    transition:all .12s ease-out;
}

nav .blog_link:hover {
    background:#259EF5;
    color:#fff;
}



/*
HERO space styles
*/

.hero {
    width:100%;
    height:100%;
    background:#E3E3E3;
    position:relative;
    z-index:900;
    text-align:center;
    float:left;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*font-family: 'Josefin Sans', sans-serif;*/
    font-family: 'Merriweather', serif;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none;
    user-select: none;
}


body.skip .hero_name, body.skip .hero_ux, body.skip .hero_not, body.skip .arrow_wrapper, body.skip nav {
    animation:none;
    visibility: visible;
    opacity:1;
    -webkit-transition:all .12s ease-out;
    -moz-transition:all .12s ease-out;
    -o-transition:all .12s ease-out;
    transition:all .12s ease-out;
}

.hero_content{
    margin-top:-2em;
}

.hero h2 {
    font-weight: 300;
    font-size:1.6em;
    color:#888;
    margin:0 0 -0.3em 0;
}

.hero h2 em {
    color:#444;
    font-style: normal;
}

.hero h1 {
    font-weight: 300;
    font-size:2.6em;
    color:#444;
    margin:0;
}

.hero h1 span {
    display:inline-block
}

@keyframes hero_anim {
    0% { transform: translateY(0); }
    15% { transform: translateY(-0.3em); }
    30% { transform: translateY(0); }
    45% { transform: translateY(-0.3em); }
    60% { transform: translateY(0.1em); }
    75% { transform: translateY(-0.3em);}
    100% { transform: translateY(0); }
}


.hero h1 em {
    display:inline-block;
   /* animation: hero_anim 1.8s 0.4s;
    animation-delay: 8s;*/
}

/*
.hero h1 a:hover {
    color:#40AFFF;
    text-shadow: 0 0 45px rgba(64,175,255,0.5);
}
*/



@keyframes hero_show {
    0% { opacity:0; visibility: visible; }
    100% { opacity:1; visibility: visible; }
}

.hero_name, .hero_and, .hero_ux, .hero_not {
    opacity:0;
    visibility:hidden;
}


.hero_name {
    animation: hero_show 1.2s forwards;
    animation-delay: .5s;
}

.hero_ux {
    animation: hero_show 1.2s forwards;
    animation-delay: 2.4s;
}

.hero_not {
    animation: hero_show 1.2s forwards;
    animation-delay: 4.2s;
}

nav {
    animation: hero_show 1.2s forwards;
    animation-delay: 6s;
}


/* feedback on click to skip animation */
.skip_tip {
    position:absolute;
    top:10px;
    width:100%;
    text-align:center;
    font-style: italic;
    color:#888;
    font-weight:100;
    z-index:901;
    opacity:0;
    -webkit-transition: opacity .15s ease-out;
    -moz-transition: opacity .15s ease-out;
    -o-transition: opacity .15s ease-out;
    transition: opacity .15s ease-out;
}

.skip_tip.active {
    color:black;
}




/*
CONTENT Styles
*/

.main {
    float:left;
    position:relative;
    width:100%;
    margin:2em 0;
    padding:0;
}


.content_wrap {
    margin:0 auto;
    width:870px;
    max-width:90%;
    padding: 2em 0 2em 0;
}

.content_wrap h1, .modal_content h1 {
    text-align: center;
    font-style: italic;
    font-weight: 100;
    font-size:2.6em;
    position:relative;
    overflow:hidden;
    margin-top:0.5em;
}

.content_wrap h1::before, .modal_content h1::before {
    content:'';
    width:200%;
    left:-50%;
    top:calc(50% - 1px);
    height:1px;
    position:absolute;
    background:#D9D9D9;
}

.content_wrap h1 span, .modal_content h1 span {
    color:#555;
    background:#fff;
    position:relative;
    padding:0 1em;
}



.sub_desc {
    font-size:0.8em;
    font-style: italic;
    padding:0 2.2em 1.4em;
    color: #666;
}


.drop_cap:first-letter {
  font-size:4.8em;
  line-height:1em;
  margin:0 0.05em -0.2em 0;
  float:left;
  background:#259EF5;
  color:#fff;
  padding:0 0.1em;
  font-weight:100;
}



.link_wrap{
    text-align:center;
    padding-top:1em;
}

.link_wrap a {
    font-size: 1.6em;
    font-family: 'Merriweather', serif;
    font-weight: 100;
    font-style: italic;
    background: #259EF5;
    padding:0.4em 2em;
    text-align:center;
    color: white;
}

.link_wrap a:hover {
    background: #d7d7d7;
}


.skill_wrap {
    width:100%;
    float:left;
}

.skill_title {
    font-weight: 100;
    font-style: italic;
    text-align: center;
    margin-bottom: 0;
}

.skill_list {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.skill_list::before {
    content: '';
    width:100%;
    left: 0;
    bottom: 0;
    height:1px;
    position:absolute;
    background:#D9D9D9;
}

.skill_list li {
    list-style: none;
    float: left;
    width:20%;
    position: relative;
    padding-bottom: 10px;
}

.skill_list li::before {
    content: '';
    width: 1px;
    left: calc(50% - 1px);
    bottom: 0;
    height:10px;
    position:absolute;
    background:#D9D9D9;
}

.skill_list span {
    display:block;
    text-align: center;
    font-size: 0.8em;
}

.skill_list div {
    width: 20%;
    min-width: 40px;
    margin: 0 auto;
    height: 4em;
    position: relative;
}

.axure div::before {
    content: '';
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:2.5em;
    background: #d9d9d9;
}
.photoshop div::before {
    content: '';
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:1.6em;
    background: #d9d9d9;
}
.illustrator div::before {
    content: '';
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:1.1em;
    background: #d9d9d9;
}
.htmlcss div::before {
    content: '';
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:2.5em;
    background: #d9d9d9;
}
.jquery div::before {
    content: '';
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:0.8em;
    background: #d9d9d9;
}







.contact {
    position:relative;
    background:#E3E3E3;
    width:100%;
    padding:2em 2em 0 2em;
    float:left;
    text-align:center;
}

.contact .content_wrap {
    padding: 0;
}

.contact h1 {
    margin-bottom:0;
}

.contact h1 span {
    background:#E3E3E3;
}

.contact h3 {
    font-weight:100;
    font-family: 'Merriweather', serif;
    text-align: center;
    font-size:0.8em;
    margin-top:-1em;
    font-style: italic;
    color:#888;
}

.email {
    font-weight:100;
    font-family: 'Merriweather', serif;
    font-size:1.2em;
    text-align:center;
    font-style:italic;
    display:block;
    margin:2em;
}

.email a {
    padding:1em 3em;
    background:#d7d7d7;
}

.contact_list {
    margin:1em 0 0 0;
    padding:0;
    float:left;
    width:100%;
}

.contact_list li {
    list-style:none;
    float:left;
    width:33.33%;
    text-align:center;
}

.contact_list a {
    display:block;
    color:#999;
    padding:0.5em 0;
}

.contact_list a:hover {
    background:#D9D9D9;
}

.contact_list span {
    opacity:0;
    font-size: 0.7em;
    display:block;
    -webkit-transition:all .1s ease-out;
    -moz-transition:all .1s ease-out;
    -o-transition:all .1s ease-out;
    transition:all .1s ease-out;
}

.contact_list a:hover span {
    opacity:1;
}

.contact_list i {
    font-size:1.8em;
}









/*
ARROW Styles
*/

.arrow_wrapper{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:4em;
    opacity:0;
}

.arrow_wrapper:hover {
    background:#D9D9D9;
    -webkit-transition:all .08s ease-out;
    -moz-transition:all .08s ease-out;
    -o-transition:all .08s ease-out;
    transition:all .08s ease-out;
}

.arrow_wrap {
    position:absolute;
    z-index:1;
    left:50%;
    top: 0;
    margin-left:-5em;
    width:10em;
    height:8em;
    padding:3em 2em;
    font-size:0.5em;
    display:block;
    /*box-shadow:0px 0px 5px 0px #333;*/
}

.arrow_wrapper:hover .arrow:after {
    border-color: #D9D9D9 transparent transparent transparent;
    -webkit-transition:all .08s ease-out;
    -moz-transition:all .08s ease-out;
    -o-transition:all .08s ease-out;
    transition:all .08s ease-out;
}

.arrow {
    float:left;
    position:relative;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3em 3em 0 3em;
    border-color: #111 transparent transparent transparent;
    transform:rotate(360deg);
}

.arrow:after {
    content:'';
    position:absolute;
    top:-3.2em;
    left:-3em;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3em 3em 0 3em;
    border-color: #E3E3E3 transparent transparent transparent;
    transform:rotate(360deg);
}

@keyframes arrows {
    0% { top:0; }
    10% { top:12%; }
    20% { top:0; }
    30% { top:12%; }
    40% { top:-12%; }
    50% { top:12%; }
    60% { top:0; }
    70% { top:12%; }
    80% { top:-12%; }
    90% { top:12%; }
    100% { top:0; }
}

.arrow_wrapper {
    animation: hero_show 1s forwards;
    animation-delay: 5.6s;
}

.arrow_wrap .arrow {
    animation: arrows 2.8s 0.4s;
    animation-delay: 6.1s;
}



/* portfolio stuff */

#portfolio .sub_desc {
    /* overwrite padding-bottom in special case */
    padding-bottom: 0;
}

.portfolio_list {
    width: 100%;
    margin: 0 0 -2em;
    padding: 0;
    display: flex;
    list-style: none;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.portfolio_list li {
    flex:1 1 auto;
    min-width:14em;
    max-width:25em;
    height: 10em;
    background: #ccc;
    margin:0 1em 1em;
    /*
    border-bottom: 2px solid #555;
    border-top: 2px solid #555;
    border-left: 2px solid #555;
    */
    -webkit-transition:all .15s ease-out;
    -moz-transition:all .15s ease-out;
    -o-transition:all .15s ease-out;
    transition:all .15s ease-out;
    position: relative;
    overflow: hidden;

    /*box-shadow: -4px 0px 5px 0px rgba(0,0,0,0.35);*/
}

.portfolio_list li:first-child {
    border-left: none;
}

.portfolio_list a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.portfolio_list img {
    height: 100%;
    text-align: center;
}

/*
.portfolio_list li a:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    opacity:0.2;
    -webkit-transition:all .15s ease-out;
    -moz-transition:all .15s ease-out;
    -o-transition:all .15s ease-out;
    transition:all .15s ease-out;
}
*/

.portfolio_list p {
    color:#e3e3e3;
    position:absolute;
    top:0;
    right:0;
    background:rgba(0,0,0,0.6);
    padding:0.2em 0.8em;
    font-size:0.8em;
    opacity: 0;
    font-style: italic;
    -webkit-transition:all .2s ease-out;
    -moz-transition:all .2s ease-out;
    -o-transition:all .2s ease-out;
    transition:all .2s ease-out;
}

.portfolio_list li:hover {
}

.portfolio_list li:hover a:before {
    opacity: 0;
}

.portfolio_list li:hover p {
    opacity: 1;
}






/* Portfolio subpage files */


.portfolio_item .contact {
    padding-top: 0;
    margin-top:2em;
}

.portfolio_item .contact_list {
    margin-top: 0;
}

.portfolio_item .subtitle {
    font-weight:100;
    font-family: 'Merriweather', serif;
    font-size:1.4em;
    font-style: italic;
    text-align:center;
}

.indent {
    text-indent: 2em;
}

.portfolio_nav {
    font-size: 0.7em;
    font-style: italic;
    margin:2em auto -2em;
    width:870px;
    max-width:90%;
}

.prev_nav span {
    padding-left:1em;
}

.prev_nav {
    float:left;
}

.next_nav span {
    padding-right:1em;
}
.next_nav {
    float:right;
}

.full_width_image {
    width:100%;
    position:relative;
    text-align:center;
    overflow-x: hidden;
}

.full_width_image img {
    max-width:100%;
    max-height: 20em;
}

.image_border {
    border: 2px solid #e3e3e3;
}

/*
.full_width_image::before {
    content: '';
    position:absolute;
    float:left;
    width:calc(100% + 20px);
    left:-10px;
    height:100%;
    box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.3);
}
*/

.full_width_image .img_desc {
    position:absolute;
    padding: 0.2em 0.8em;
    top: 1em;
    left: 0;
    color:#fff;
    background: rgba(0,0,0,0.7);
    text-align: left;
    opacity: 0.2;
    -webkit-transition:all .08s ease-out;
    -moz-transition:all .08s ease-out;
    -o-transition:all .08s ease-out;
    transition:all .08s ease-out;
    max-width: 33%;
}

.full_width_image:hover .img_desc {
    opacity:1;
}

.full_width_image h4 {
    font-weight:100;
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-size:1.2em;
    margin:0.4em 0 0;
    padding:0;
}

.full_width_image p {
    color:#ccc;
    font-size: 0.6em;
    font-style: italic;
}




/* ==========================================================================
   Modal Styles
   ========================================================================== */

.modal {
    opacity:0;
    height:0;
    width:0;
    overflow:hidden;
    position:fixed;
    top:3em;
    left:3em;
    background:#fff;
    z-index:10001;
}

.modal.modal_data, .modal.modal_achieve {
    opacity:1;
    right:3em;
    bottom:3em;
    height: auto;
    width: auto;
}

.modal_bg {
    opacity:0;
    background:#000;
    position:fixed;
    top:0;
    left:0;
    height:0;
    width:0;
    z-index:9999;
}


.close_modal {
    position:absolute;
    top:0;
    right:0;
    font-size: 3em;
    color:#999;
    display:none;
}

.modal_bg.modal_bg_open {
    opacity:0.7;
    height: auto;
    width: auto;
    right:0;
    bottom:0;
    cursor:pointer;
}

.modal_bg.modal_bg_open:hover {
    opacity:0.6;
}

.modal_content {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding:1em;
    background:#fff;
    overflow-y: scroll;
}

.achievement_detail {
    opacity:0;
    z-index:0;
}

.modal_achieve .achievement_detail {
    opacity:1;
    z-index:12000;
}

.data_security {
    opacity:0;
    z-index:0;
    background:#ededed;
}

.modal_data .data_security {
    opacity:1;
    z-index:12000;
}

.modal_anim_wrap {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display:none;
    z-index: 10000;
    perspective: 3000px;
}
.modal_anim_wrap.anim_active {
    display:block;
}

.modal_btn {
    background:#d7d7d7;
    padding:1em 2em;
}

.open_modal, .modal_switch {
    cursor:pointer;
}

.modal_anim {
    position:absolute;
	transform-style: preserve-3d;
}

.modal_anim .anim_front, .modal_anim .anim_back {
    backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
    right:0;
    bottom:0;
}

.modal_anim .anim_front {
    background:#d7d7d7;
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}
.modal_anim .anim_back {
    background:white;
	transform: rotateY(180deg);
}

.modal_anim, .modal_bg, .modal_content {
    -webkit-transition:all .2s ease-in;
    -moz-transition:all .2s ease-in;
    -o-transition:all .2s ease-in;
    transition:all .2s ease-in;
}

@keyframes modal_in {
    24% {transform: rotateX(-100deg); }
    60% { opacity:1;top:3em;right:3em;bottom:3em;left:3em;transform: rotateX(-195deg);}
    80% { transform: rotateX(-170deg);}
    100% {  opacity:1;top:3em;right:3em;bottom:3em;left:3em; transform: rotateX(-180deg);}
}

.modal_in {
    -webkit-animation: modal_in .8s;
}

/* apply to body when in modal window -- keeps scrollbar visible */
.stop_scrolling {
    overflow-y:scroll;
    position:fixed;
    width:100%;
}

/* Modal Content Styles */
.modal_nav {
    font-size: 0.7em;
    font-style: italic;
    margin:0 auto 3em;
    width:870px;
    max-width:90%;
}

.modal_content_wrap {
    margin:0 auto;
    width:870px;
    max-width:90%;
    padding: 0;
}

.ach_list {
    width:100%;
    float:left;
    padding: 0;
    display: flex;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
	flex-wrap: wrap;
}

.ach_list li {
    list-style: none;
    float:left;
    flex: 1 0 350px;
}

#counter_temp {
    position:fixed;
    z-index: 10000000;
    font-size: 4em;
}


/* ==========================================================================
   Achievement Styles
   ========================================================================== */

.achievements {
    position:fixed;
    bottom:0;
    width:100%;
    z-index:100000;
}

.ach {
  background:#259EF5;
  display:block;
  position:fixed;
  bottom:-5em;
  left:50%;
  margin-left:-175px;
  width:350px;
  height:65px;
  color:#fff;
  font-size:16px;
  padding:0 1.2em 0 0;
  overflow:hidden;
}

.ach_list .ach {
    position:relative;
    margin:1em;
    top:auto;
    bottom:auto;
    left:auto;
}

.ach_list .ach_locked {
    background:#ededed;
    color:#777;
}



.ach .icon {
  float:left;
  font-size:35px;
  width:65px;
  padding:0.1em 0 0;
  text-align:center;
}

.ach_list .ach_locked .icon {
    /*background:#ededed;*/
    color:#999;
    border-radius: 50%;
    width:59px;
}

.ach .close_ach {
    position:absolute;
    top:5px;
    right:5px;
    color:#fff;
}

.ach .close_ach i {
    opacity:0;
    transform:rotate(0deg);
}

.ach .text_wrap {
  position:absolute;
  left:55px;
  width:300px;
  top:0.7em;
  overflow:hidden;
}

.ach_list .text_wrap {
    top:0.4em;
}

.ach .points {
  float:left;
  font-size:1.2em;
  width:50px;
  margin:0 0.1em 0;
  padding:0.3em 0;
}

.ach .title {
  font-size:0.9em;
  width:250px;
  margin:0 0 -0.2em;
  padding:0;
}

.ach .detail {
  font-size:0.7em;
  width:250px;
  margin:0;
  color:rgba(255,255,255,0.7);
  font-style:italic;
}

.ach_locked .detail {
    color:#999;
}

.ach:hover {
    background:#222;
}

.ach_list .ach:hover {
    background:#45ADF7;
}

.ach_list .ach_locked:hover {
    background:#e5e5e5;
}


.ach, .ach i {
    -webkit-transition:all .1s ease-out;
    -moz-transition:all .1s ease-out;
    -o-transition:all .1s ease-out;
    transition:all .1s ease-out;
}

  @keyframes ach_in_anim { 0% { bottom:-5em; width:65px; margin-left:-32.5px;
  border-radius:50%; } 15% { bottom:2.2em; width:65px; margin-left:-32.5px; }
  25% { bottom:1em; width:65px; margin-left:-32.5px;  } 75% { bottom:1em;
  width:65px; margin-left:-32.5px; } 85% { bottom:1em; width:65px;
  margin-left:-32.5px; border-radius:50%; } 92% { bottom:1em; width:380px;
  margin-left:-190px; border-radius:0; } 100% { bottom:1em; width:350px;
  margin-left:-175px; border-radius:0; } }

  @keyframes ach_current {
    0% { bottom:1em; width:350px; margin-left:-175px; }
    100% { bottom:1em; width:350px; margin-left:-175px; }
  }

  @keyframes ach_out_anim {
    0% { bottom:1em; width:350px; margin-left:-175px;border-radius:50%; }
    16% { bottom:1em; width:65px; margin-left:-32.5px; border-radius:50%;}
    20% { bottom:1em; width:50px; margin-left:-25px; }
    34% { bottom:1em; width:65px; margin-left:-32.5px; }
    70% { bottom:1em; width:65px; margin-left:-32.5px; }
    100% { bottom:-5em; width:65px; margin-left:-32.5px;border-radius:50%; }
  }

  .achieved {
    -webkit-animation: ach_in_anim 1.4s, ach_current 3s, ach_out_anim 0.8s;
    -webkit-animation-delay: 0s, 1.4s, 4.4s;
  }


  @keyframes i_in_anim {
    0% { transform:scale(0); }
    45% { transform:scale(0); }
    46% { transform:scale(0.4); }
    50% { transform:scale(1); }
    55% { transform:scale(1.2); }
    60% { transform:scale(1); }
    100% { transform:scale(1); }
  }

  @keyframes i_current {
    0% { transform:scale(1); }
    100% { transform:scale(1); }
  }

  @keyframes i_out_anim {
    0% { transform:scale(1); }
    46% { transform:scale(1); }
    47% { transform:scale(1.2); }
    56% { transform:scale(1); }
    60% { transform:scale(0.4); }
    65% { transform:scale(0); }
    100% { transform:scale(0); }
  }

  .achieved .icon i {
    -webkit-animation: i_in_anim 1.4s, i_current 3s, i_out_anim 0.8s;
    -webkit-animation-delay: 0s, 1.4s, 4.4s;
  }


 @keyframes text_in_anim {
    0% { width:0; }
    85% { width:0; }
    100% { width:260px; }
  }

  @keyframes text_out_anim {
    0% { width:260px; }
    12% { width:0; }
    100% { width:0; }
  }

  .achieved .text_wrap {
    animation: text_in_anim 1.4s, text_out_anim 0.8s;
    animation-delay: 0s, 4.4s;
  }


/* Generic Styles */

.center_text {
    text-align: center;
}

.center_btn {
    float:left;
    width:100%;
    display: flex;
    justify-content: center;
    margin:0.5em 0;
}

.btn2 {
    background:#d7d7d7;
    border-bottom:solid 2px #259EF5;
    color:#333;
    text-align:center;
    float:left;
    position:relative;
    cursor:pointer;
}

.btn2::before {
    content: "";
    position: absolute;
    bottom:-2px;
    width:50%;
    height:2px;
    left:0;
    background:#333;
    -webkit-transition:all .2s ease-out;
    -moz-transition:all .2s ease-out;
    -o-transition:all .2s ease-out;
    transition:all .2s ease-out;
}

.btn2::after {
    content: "";
    position: absolute;
    bottom:-2px;
    width:50%;
    height:2px;
    right:0;
    background:#333;
    -webkit-transition:all .2s ease-out;
    -moz-transition:all .2s ease-out;
    -o-transition:all .2s ease-out;
    transition:all .2s ease-out;
}

.btn2:hover {
    background:#e1e1e1;
    color:#259EF5;
}

.btn2:hover::after, .btn2:hover::before {
    width:0;
}

.btn2 .title {
    float:left;
    width:100%;
}

.btn2 .sub {
    float:left;
    width:100%;
    font-size: 0.6em;
}

.confirm_btn {
    overflow:hidden;
    float:left;
    position:relative;
    padding:0.5em 2em;
}

.confirm_btn .confirm_wrap {
    position:absolute;
    left:100%;
    top:0;
    height:100%;
    width:100%;
    padding:0.5em 2em;
    background:#259EF5;
    color:#fff;
    font-style: italic;
    -webkit-transition:all .2s ease-out;
    -moz-transition:all .2s ease-out;
    -o-transition:all .2s ease-out;
    transition:all .2s ease-out;
}

.confirm_btn .confirmation {
    position:absolute;
    opacity:1;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background:#259EF5;
    color:#fff;
    font-style: italic;
    -webkit-animation: confirmation 2s;
    text-align: center;
    font-size:1.6em;
}

.confirmation i {
    -webkit-animation: confirm .5s;
}

@keyframes confirm {
    0% {transform: scale(15);}
    100% {transform: scale(1);}
}

@keyframes confirmation {
    85% {opacity:1;}
    100% {opacity:0;}
}

.confirm_btn.confirming .confirm_wrap {
    left:0;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */



/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */



/* ============
    WIDE: Main
   ============ */


}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
