html, body {
  height:100%; /* allows us to size the header height based as a percent */
}

.section {
  height:calc(100% - 3em); /* subtract an amount of space for your arrow element */
  background-color:#333;
  width:100%;
}

.main {
  width:100%;
  position:relative;
  background-color:#fff;
}
